@namespace CSStack.SuBlazor

@if (SuDialogService.DialogContexts.Any())
{
    <div class="su-dialog-background @SuDialogService.BackgroundClass" style="z-index: @SuDialogService.ZIndex; @SuDialogService.BackgroundStyle">
        @foreach (var dialogContext in SortedDialogContexts)
        {
            <div class="su-dialog-content @dialogContext.WrapperClass" style="@dialogContext.WrapperStyle">
                <DynamicComponent Type="dialogContext.ComponentType" Parameters="dialogContext.Parameters" @key="dialogContext.ComponentIdentifier" />
            </div>
        }
    </div>
}